*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
 width: 100%;
 background-color:grey;
  height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    height: 100%;
    justify-content: center;
    align-items: center;   
}
.logo img{
border-radius:90%;
height:100%;
width: 80%;
margin-left: 2%;
margin-left: 60%;
}
.navlinks{
  
    display: flex;
   
 
}
.navlinks li{
list-style-type: none;
padding: 10px;

}
.navlinks li a{
    text-decoration: none;
    padding:10px 20px 10px 20px;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.navlinks li a:hover{
 color:black;
 background-color:white;
 border-radius:30px;
}
.search{
    margin-left: -10%;
}
.search input{
    height: 5vh;
    width: 9vw;
    border: none;
    border-radius: 2px;
    padding-left: 15px;
    position: relative;
    color: black;
    font-weight: bold;
}
.search i{
    position: absolute;
    right: 90px;
    top: 25px;
    font-size: 10px;
}

.watch img{
    position:relative;
   height: 90vh;
    width:100%;
    margin-top: 0px;
  
}
.container{
    position: absolute;
   top: 250px;
   left: 100px;
    color:white;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 25px;
    text-transform: capitalize;
    font-style: italic;

}

.p{
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
 
}
.buy{
       height: 5vh;
        width: 9vw;
        background-color:black;
        border:none;
        border-radius:50px;
        font-size: 15px;
         color: white;
         display: flex;
         padding-right: 10px;
         margin-top: 10%;
         margin-left: 5%;
         font-style: italic;
         
}
.buy li{
    list-style-type: none;
   padding-left: 40px;
   padding-right: 10px;
   padding-top: 7px;
   padding-bottom: 10px;
}
.buy:hover{
    background-color:lightslategray;
    color:white;
    cursor: pointer;
}

.details{
    height: 5vh;
     width: 10vw;
     background-color:none;
     border-radius:50px;
     border: 2px solid white;
    font-size: 15px;
    color: white;
      margin-left: 50%;
    margin-top:-9%;
    font-style: italic;
      
}
.details li{
    list-style-type: none;
   padding-left: 40px;
   padding-right: 10px;
   padding-top: 7px;
   padding-bottom: 10px;
}
.details li:hover{
color: black;
cursor: pointer;
 
}

.footer{
    background-color:grey;
    height:40vh;
    width: 100%;
}
.card{
    padding-top: 30px;
   display: flex;
   padding: 30px;
   margin-left: 3%;
}
.card img{
    height: 150px;
    width: 200px;
    display: flex;
    border-radius: 10px;
    padding:5px;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
   font-size: 20px;
margin-top: -11%;

}
.links{

    padding: 5px;
    margin-left: 70%;
     display: flex;
 }
.link{
    display: flex;
   margin-top: -45px;
   padding-left: 40px;
}

.link li{
    list-style-type: none;
    padding: 3px;
    
}
.link li :hover{
    background-color:white;
    color: black;
    
}
.link li a{
    list-style-type: none;
    padding: 7px;
    background-color:black;
    border-radius: 30%; 
}

.link li a{
    text-decoration: none;
    color: white;
}
.con{
    display: flex;
   padding-top: -45px;
}
.con li{
    list-style-type:none;
    padding: 10px;
   
}
.con li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.con li a i{
    padding: 10px;
}
.con li a:hover{
    color: white;
}
.card img:hover{
    border:5px solid slategrey;
    cursor: pointer;
    opacity: 0.5; 
}




